<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CONTAINERSTRING</key>
	<string>$(CONTAINER_CONNECTION_STRING)</string>
	<key>QUERY</key>
	<string>$(TOKEN_SERVER_IDENTIFIER_QUERY)</string>
	<key>ACSENDPOINT</key>
	<string>$(ACS_ENDPOINT)</string>
	<key>HUBCONNECTIONURL</key>
	<string>$(HUB_CONNECTION_URL)</string>
	<key>HUBNAME</key>
	<string>$(HUB_NAME)</string>
	<key>ENDPOINT</key>
	<string>$(TOKEN_SERVER_ENDPOINT)</string>
	<key>DOMAIN</key>
	<string>$(TOKEN_SERVER_DOMAIN)</string>
	<key>NSCameraUsageDescription</key>
	<string>App needs access to camera for video calls</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App needs access to mic for video calls</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
